.apply-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    gap: 5px;
}

.clear-bg-button{
    background-color: transparent;
    color: #3636b3;
}

.clear-bg-button:disabled{
    background-color: transparent;
    color: #b6b6e3;
    cursor: default;
}

.clear-bg-button:hover{
    background-color: transparent;
    text-decoration: underline;
}

.clear-bg-button:disabled:hover {
    text-decoration: none;
}

